title = "Blog detail"
url = "/blog/:slug|[^0-9]"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog-category"
==
<?php
function onEnd() {
    if ($this->blogPost->post) {
        $post = $this->blogPost->post;
        $this->page->title = $post->title;
        $categories = $post->categories;
        $this['category'] = $post->categories->first();
        $this['category_slug'] = $this['category']['attributes']['slug'];

    } else {
        $this->page->title = "Článek nenalezen!";
        header("HTTP/1.0 404 Not Found");
        flush();
    }
}
?>
==

{% set post = blogPost.post %}


<section class="section-blog-post">
    {% if post %}
        <div class="cover" {% if post.featured_images.first() %}style="background-image: url({{ post.featured_images.first().path }})"{% endif %}>
            <div class="cover-inner">
                <h1>{{ post.title }}</h1>
                <p class="time">{{ post.type | upper }} {{ post.minutes}}&nbsp;MIN</p>
            </div>
        </div>

        <div class="wrapper">
            {{ post.content_html|raw }}
        </div>
    {% else %}
        <h1>Článek nebyl nalezen :-(</h1>
        <p>Omlouváme se, ale takový článek jsme nenašli. pokračujte prosím na <a href="{{ 'blog-list' | page }}">seznam všech článků</a>.</p>
    {% endif %}
</section>

<section class="blog-links">
    <a href="{{ 'blog-list' | page }}" title="zpět na všechny články">zpět na všechny články</a>
</section>