title = "Kontakty"
url = "/kontakty"
layout = "default"
meta_title = "Kontakty na organizátory Pražského Barcampu"
meta_description = "Kontakty na organizátory Pražského Barcampu"
is_hidden = 0

[contactForm]

[team]
==
<?php
use Barcamp\Talks\Models\Settings;

function onStart() {
    $settings = App::make('Barcamp\Talks\Models\Settings');
    $settings = $settings->first();
    $this['program'] = $settings->program;
    $this['press'] = $settings->press;
    $this['logo'] = $settings->logo;
}
?>
==
<section class="section-contact">
    <div class="wrapper">
        <h1>Kontakt</h1>
        <a href="mailto:info@prazskybarcamp.cz"
           title="info@prazskybarcamp.cz"
           target="_blank"
           class="jumbo">info@prazskybarcamp.cz</a>
        <div class="contact">
            {% content 'contact/content' %}
        </div>
    </div>
</section>
<section class="section-contact-form">
    <div class="wrapper">
        <h2>Kontaktní formulář</h2>
        {% component 'contactForm' %}
    </div>
</section>
{% if team %}
<section class="section-who-is-behind" id="team">
    <div class="wrapper">
        <h2>Kdo stojí za Pražským Barcampem</h2>
        {% component 'team' %}
    </div>
</section>
{% endif %}
{% if program or press or logo %}
    <section class="section-downloads">
        <div class="wrapper">
            <h2>Materiály ke stažení</h2>
            <div class="links">
                {% if program %}
                    <a href="{{ program.getPath() }}" title="Program (PDF)">Program (PDF)</a>
                {% endif %}
                {% if press %}
                    <a href="{{ press.getPath() }}" title="Tisková zpráva (PDF)">Tisková zpráva (PDF)</a>
                {% endif %}
                {% if logo %}
                    <a href="{{ logo.getPath() }}" title="Logo (ZIP)">Logo (ZIP)</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}
