title = "Registrace"
url = "/registrace/:code?"
layout = "default"
is_hidden = 0

[registrationForm]
paramCode = "code"
==
<?php
function onEnd() {
    $facade = App::make('Barcamp\Talks\Facades\TalksFacade');
    $this['left'] = $facade->getTalksLeftCount();
}
?>
==
{% if not user %}
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <h1>Registrace</h1>
        {% if left > 0 %}
            {% component 'registrationForm' %}

        {% else %}
            <p>Omlouváme se, ale počet míst je již vyčerpán.</p>
        {% endif %}
    </div>
</div>
{% endif %}
