title = "Registrace"
url = "/registrace/:code?"
layout = "default"
is_hidden = 0

[registrationForm]
paramCode = "code"
==
<?php
function onEnd() {
    $facade = App::make('Barcamp\Talks\Facades\TalksFacade');
    $this['enabled'] = $facade->isRegistrationApproved();
}
?>
==
{% if not user %}
    <section class="section-registration">
        <div class="wrapper">
            <a href="{{ 'home' | page }}" title="Domů" class="back-btn">ZPĚT</a>
            <h1>Registrační formulář <span id="switch-title">{% if (post.type == '') or (post.type == 'speaker') %}speaker{% else %}workshop{% endif %}</span></h1>
            {% if enabled %}
                {% component 'registrationForm' %}
            {% else %}
                <p>Omlouváme se, ale počet míst je již vyčerpán.</p>
            {% endif %}
        </div>
    </section>
{% endif %}
