$black :        rgb(0, 0, 0);
$almostBlack :  rgb(0, 0, 9);
$green :        rgb(80, 227, 194);
$white :        rgb(255, 255, 255);
$halfWhite :    rgba(255, 255, 255, .5);
$almostWhite :  rgba(255, 255, 255, .8);
$transBlack :   rgba(0, 0, 0, .8);
$greyBg :       rgb(249, 249, 249);
$grey :         rgb(155, 155, 155);
$lightGrey:     rgb(216,216,216);
$halfBlack:     rgba(0,0,0,.5);
$blue :         rgb(73, 144, 226);
$lightBlack:    rgba(0,0,0,.3);
$halfGreen:     rgba(80, 227, 194, .8);
$fbColor:       rgb(0,132,255);