@mixin transition($time) {
  -moz-transition-duration: $time;
  -webkit-transition-duration: $time;
  transition-duration: $time;
}

@mixin box-shadow($horizontal, $vertical, $blur, $spread, $color) {
  -moz-box-shadow: $horizontal $vertical $blur $spread $color;
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
  box-shadow: $horizontal $vertical $blur $spread $color;
}

@mixin outline-btn() {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  border: 1px solid $green;
  border-radius: 100px;
  padding: 12px 30px 10px;
  letter-spacing: 1px;
  margin: 50px 15px 20px;
  @include transition(300ms);

  &:hover {
    background-color: $green;
  }
}

@mixin full-btn() {
  font-size: 14px;
  font-weight: 400;
  color: $black;
  background-color: $green;
  padding: 13px 30px;
  border-radius: 100px;
  text-decoration: none;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  @include transition(300ms);

  &:hover {
    @include box-shadow(8px, 8px, 14px, 0, rgba(0, 0, 0, 0.10));
  }
}

@mixin kalam-headline($left) {
  font-family: 'Kalam', cursive;
  font-weight: 500;
  margin-top: 15px;
  border: none;
  font-size: 32px;
  padding: 5px 0;
  display: inline-block;
  @if $left {
    margin-left: 15px;
  } @else {
    margin-right: 15px;
  }
}

@mixin default-headline() {
  font-size: 32px;
  font-weight: 800;
  border-bottom: 5px solid $green;
  padding: 5px 0;
  display: inline-block;
}