<section class="section-intro">

    <video loop id="bgvid">
        <source src="{{ 'assets/videos/bgvideo.webm' | theme }}" type="video/webm">
        <source src="{{ 'assets/videos/bgvideo.mp4' }}" type="video/mp4">
    </video>

    <div class="wrapper">
        <p>KONFERENCE O TOM, JAK</p>
        <div class="jumbo">
            <h1>Být profi</h1>
            <h1 id="changer">Architekt</h1>
        </div>
        <p>Ukaž co tě baví a přijď si poslechnout na konferenci, jak to dělají profíci ve firmě.</p>
    </div>
    <a href="javascript:void(0);" title="Pokračovat" id="arrow">
        <img src="{{ 'assets/images/sipka.svg' | theme }}" alt="sipka" />
    </a>
</section>